@import "/css/general.css";

@layer general, utility, components;

@layer general {

    html,
    body {
        height: 100%;
        margin: 0;

        container: body / inline-size;
    }

    form {
        flex-grow: 1;
        display: flex;

        flex-wrap: wrap;

        grid-area: searching;
    }
}

@layer utility {
    .grid-row {
        display: grid;
        grid-auto-flow: row;
    }

    .close {
        margin: 20px;
    }
}

@layer components {

    #error-output {
        display: none;
    }

    p:has(#login-reason) {
        text-align: center;
    }

    p:has(#login-reason:empty) {
        display: none;
    }

    #entry-output,
    #graph-output,
    #calc-output,
    #gallery-output,
    #script-output {
        &:target {
            display: inherit;
        }

        &:not(:target) {
            display: none;
        }
    }

    #help-link {
        text-align: center;
        display: block;
        align-content: center;
        padding: 0 1ch;
        margin: 0 1ch;
        cursor: pointer;
    }

    #gallery-items img {
        width: 50cqb;
    }

    #view-all {
        vertical-align: bottom;
    }

    #main {
        height: 100%;
    }

    #notifications {
        position: fixed;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;

        .notification {
            padding: 30px;
            border-bottom: 1px solid var(--secondary);
            white-space: pre;
            background: var(--main);
            border: 2px solid var(--secondary);
        }

        .notification::before {
            content: "Notification\a";
        }
    }

    #main-ui.display-mode> :not(#viewing-area) {
        display: none;
    }

    #main-ui {
        flex-grow: 1;

        display: grid;

        gap: 1cqi;

        @container body (width >=800px) {
            grid-template-areas:
                "form form form"
                "sidebar main main"
                "sidebar main main";
            grid-template-columns: max-content 1fr 1fr;
            grid-template-rows: min-content 1fr 1fr;
        }

        @container body (width < 800px) {
            grid-template-rows: max-content min-content 3fr;
            grid-template-columns: 1fr 1fr 0.5fr;
            grid-template-areas:
                "form form form"
                "sidebar sidebar sidebar"
                "main main main";

            position: relative;
        }

        &.display-mode {
            display: block;
        }
    }

    #new-entry h3 {
        text-align: center;
    }

    #new-item-form {
        display: flex;
        flex-direction: column;
        gap: 1cap;
        margin: 0 20%;
    }

    #new-entry-button {
        @container (width < 70ch) {
            justify-self: center;
            width: 100%;
            margin-bottom: 10px;
        }

        @container (width >=70ch) {
            justify-self: end;
        }

        grid-area: new;

        width: 50px;
        aspect-ratio: 1 / 1;
    }

    #search-area {
        grid-area: form;

        text-wrap: nowrap;
        overflow-x: auto;
        display: grid;
        grid-template-areas:
            "new searching stats";
        grid-template-columns: min-content 2fr 1fr;
        width: 100%;

        border-bottom: 2px solid var(--secondary);

        @container (width < 115ch) {
            grid-template-areas:
                "new searching searching"
                "stats stats stats";
        }


        :not([multiple]) {
            vertical-align: top;
        }


        [name="search-query"] {
            max-width: 500px;
            flex-grow: 1;
        }

        [name="sort-by"] {
            max-width: 200px;
            flex-grow: 0.3;
        }

        [data-stat-name="totalCost"]::before {
            content: "$"
        }

        [data-stat-name]:not([data-stat-name="totalCost"])::before {
            content: attr(data-stat-name) ": "
        }
    }

    #result-stats {
        @container (width < 115ch) {
            justify-self: center;
        }

        display: flex;
        gap: 10px;
        justify-content: end;

        grid-area: stats;

        *:not(:last-child) {
            padding-right: 10px;
            border-right: 1px dashed white;
        }

        * {
            align-content: center;
        }
    }

    #result-stats::before {
        content: "Stats";
        border-right: 1px dashed white;
        border-left: 1px dashed white;
        text-align: center;

        padding: 0 10px;
        align-content: center;
    }

    #selected-item-actions {
        justify-content: left;
        display: flex;
    }

    :has(#graph-output:target, #gallery-output:target) {
        #selected-item-actions {
            display: none;
        }
    }

    #viewing-area {
        height: 100%;
        container-name: viewing-area;
        container-type: size;

        &:not(:has(display-entry)) {
            #error-output {
                display: unset;
            }

            #error::after {
                /*default error*/
                content: attr(data-error, "No items selected");
            }
        }

        &:not(:has(display-entry)) {
            align-items: center;
        }

        @container body (width < 800px) {
            grid-column: 1 / -1;
            overflow: auto auto;
        }

        @container body (width >=800px) {
            grid-area: main;
        }
    }

    #calc-output:target {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-areas:
            "input"
            "output";
        grid-template-rows: min-content 1fr;

        #calc-items {
            display: flex;
            flex-wrap: wrap;

            calc-entry {
                flex-grow: 1;
                width: 33cqi;
            }
        }
    }


    #graph-output {
        width: 100%;
        height: 100%;

        border: 2px solid hsl(from var(--secondary) h s 30%);

        form {
            position: sticky;
            top: 0;
            float: right;
            align-content: start;

            >* {
                height: fit-content;
            }
        }
    }

    #graph-output:target>div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: 100%;

        div {
            width: 90%;
        }
    }


    #entry-output {
        --grid-size: 50%;

        --gap-size: 10px;

        gap: var(--gap-size);

        height: 100%;
        overflow: auto auto;

        grid-area: main;

        display: flex;

        @container viewing-area (width >=800px) {
            flex-wrap: wrap;
        }

        @container body (max-width: 800px) {
            flex-direction: column;
        }

        @container viewing-area (orientation: portrait) {
            flex-direction: column;
        }

    }

    #sidebar {
        grid-area: sidebar;
        height: 100%;
        width: clamp(100px, 20cqi, 200px);

        container: sidebar / inline-size;

        @container body (width < 800px) {
            &>div:first-child {
                position: sticky;
                left: 0;
            }

            width: 100%;
        }
    }

    #sidebar-navigation {
        position: sticky;
        top: 0;
        z-index: 1;
        background: var(--main);

        padding: 5px;

        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 80%;
        justify-content: center;

        @container body (width < 800px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: space-around;
        }
    }

    #sidebar-items {
        display: flex;
        width: clamp(200px, 35vw, 35vw);
        flex-direction: column;

        min-height: 10dvh;
        max-height: 83%;

        width: 100%;

        float: left;

        padding: 0;

        counter-reset: item-list;

        @container body (width < 800px) {
            grid-column: 1 / -1;
            flex-direction: row;
            min-width: fit-content;
            min-height: fit-content;
        }
    }

    #result-info {
        grid-area: results;
    }

    
    #script-root {
        display: grid;
        grid-template-areas:
            "input run-button"
            "output output";

        grid-template-rows: max-content 1fr;
        grid-template-columns: 1fr max-content;

        gap: var(--small-gap);

        width: 100cqw;
        height: 100cqh;

        padding: 0 10ch;

        #script-execute {
            height: 100%;
            margin-inline: 2ch;
            align-self: center;
        }

        #script-execute-output {
            grid-area: output;
        }

        #script {
            resize: vertical;
            grid-area: input;
        }
    }
}
