@import "/css/general.css";

:host(calc-entry) {
    border: 1px solid #fffc;
    padding: 30px;

    text-align: center;
}

.root {
    display: flex;
    flex-direction: column;
}

#calc-thumbnail {
    width: 100px;

    align-self: center;
}
