@import "/css/general.css";

:host(calc-entry) {
    border: 1px solid #fffc;
    padding: 30px;

    text-align: center;

    width: 100%;
    overflow: auto;
    max-height: 50cqb;
}

.root {
    img {
        max-width: 100%;
        max-height: 100%;
    }

    overflow: auto;
}

#calc-thumbnail {
    width: 100px;

    align-self: center;
}
