@import "/css/general.css";
@import "/ui/css-styles/rating-styles.css";

:host(sidebar-entry)::before {
    float: left;
}

@media (width < 800px) {
    :host(sidebar-entry)::before {
        content: ''
    }
}

:host(sidebar-entry) {
    height: 100%;

    @media (width >=800px) {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    @media (width < 800px) {
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

    [data-type-icon]::before {
        content: attr(data-type-icon) " "
    }

    [part="root"] {
        container-type: inline-size;

        height: 20cqb;
        align-content: center;

        overflow: hidden;

        font-size: 0.9em;

        @media (width < 800px) {
            width: 25vw;
            height: min-content;
            aspect-ratio: initial;
        }
    }

    #sidebar-title {
        font-size: 0.8em;
        width: 80%;

        border-style: none;

        @media (width < 800px) {
            display: none;
        }

        @media (width >= 800px) {
            text-align: center;
        }
    }

    figure {
        gap: 0.4em;
        margin: 0;

        contain: inline-size;

        @media (width >= 800px) {
            display: grid;
            justify-items: center;
        }

        @media (width < 800px) {
            display: grid;
        }
    }

    #sidebar-thumbnail {
        cursor: pointer;
        height: 70cqi;

        @media (width < 800px) {
            justify-self: center;
        }
    }
}
