:root {
    --pink: var(--aio-limas-pink, #f7c8e0);
    --green: var(--aio-limas-green, #dfffd8);
    --light-blue: var(--aio-limas-light-blue, #b4e4ff);
    --blue: var(--aio-limas-blue, #95bdff);
    --yellow: var(--aio-limas-yellow, #e5c890);
    --lavender: var(--aio-limas-lavender, #b4befe);
    --red: var(--aio-limas-red, #e78284);

    --main: var(--aio-limas-main, #121626);
    --secondary: var(--aio-limas-secondary, hsl(from var(--main) h s calc(l * 1.8)));

    --input-border-color: var(--aio-limas-input-border-color, var(--blue));

    --border-roundness: var(--aio-limas-border-roundness, 5px);

    --text-color: var(--aio-limas-text-color, hsl(from var(--light-blue) h s 95%));
}
