@property --pink {
    syntax: "<color>";
    initial-value: #f7c8e0;
    inherits: true;
}

@property --green {
    syntax: "<color>";
    initial-value: #dfffd8;
    inherits: true;
}

@property --light-blue {
    syntax: "<color>";
    initial-value: #b4e4ff;
    inherits: true;
}

@property --blue {
    syntax: "<color>";
    initial-value: #95bdff;
    inherits: true;
}

@property --yellow {
    syntax: "<color>";
    initial-value: #e5c890;
    inherits: true;
}

@property --lavender {
    syntax: "<color>";
    initial-value: #b4befe;
    inherits: true;
}

@property --red {
    syntax: "<color>";
    initial-value: #e78284;
    inherits: true;
}

@property --main {
    syntax: "<color>";
    initial-value: #121626;
    inherits: true;
}

@property --input-border-roundness {
    syntax: "<length>";
    initial-value: 5px;
    inherits: true;
}

:root {
    &:has(option[value="light"]:checked) {
        --text-color: CanvasText;
        --main: #eff1f5;
        --red: #d20f39;
        --pink: #ea76cb;
        --green: #40a02b;
        --light-blue: #04a5e5;
        --yellow: #df8e1d;
        --lavender: #7287fd;
        --blue: #1e66f5;
    }

    @media (prefers-color-scheme: light) {
        --text-color: CanvasText;
        --main: #eff1f5;
        --red: #d20f39;
        --pink: #ea76cb;
        --green: #40a02b;
        --light-blue: #04a5e5;
        --yellow: #df8e1d;
        --lavender: #7287fd;
        --blue: #1e66f5;
    }

    &:has(option[value="dark"]:checked) {
        --main:#121626;
        --red:#e78284;
        --lavender:#b4befe;
        --yellow:#e5c890;
        --blue:#95bdff;
        --light-blue:#b4e4ff;
        --green:#dfffd8;
        --pink:#f7c8e0;
        --text-color: hsl(from var(--main) h s calc(l * 8))
    }

    --secondary: hsl(from var(--main) calc(h - 20) s calc(l * 1.8));

    @supports (color: rgb(calc(sign(1)) 0 0)) {
        /*oklch doesnt work for some reason*/
        --secondary: lch(from var(--main) calc(l + (sign(abs(l - 100) - 50) * 20)) c calc(h));
        --text-color: hsl(from var(--main) h s calc((sign(abs(l - 100) - 30)) * 90));
    }

    --error: var(--red);
    --warn: var(--yellow);

    --input-background: var(--secondary);
    --input-border-color: currentColor;
    --border-roundness: var(--input-border-roundness);

    --small-gap: 2ex;

    --scrollbar-bar-color: var(--blue);
    --scrollbar-gutter-color: var(--secondary);

    --highlight: var(--blue);
    --highlight-text-color: var(--main);
}
