@layer general {

    *,
    *::before,
    *::after {
        box-sizing: border-box;

        scrollbar-color: var(--scrollbar-bar-color) var(--scrollbar-gutter-color);
    }

    body {
        background: var(--main);
        color: var(--text-color);

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    table {
        border-collapse: collapse;

        td,
        th {
            border: 1px solid var(--secondary);
        }
    }

    input,
    label {
        user-select: none;
    }

    textarea {
        color: var(--text-color);
        border-style: solid;
    }

    summary {
        cursor: pointer;
    }

    button,
    textarea,
    input,
    select {
        margin-inline: 1px;

        color: inherit;

        /*inherit the font, but keep the font size small because otherwise
         * it breaks assumptions i had about button font sizes*/
        font: inherit;
        font-size: 0.8em;

        border-style: solid;
        background: var(--input-background);

        &:not([type="checkbox"]) {
            border-color: var(--input-border-color);
        }

        &:focus {
            outline: 3px solid var(--green);
            /* making it transparent keeps
             * the box size the same avoiding relayout*/
            border-color: transparent;
        }
    }

    [role="button"]:focus {
        outline: none;
        border: 3px solid var(--green);
        cursor: pointer;
    }

    select {
        border-width: 1px;
    }


    a {
        color: unset;
        text-decoration: unset;
        cursor: default;
    }

    a[href] {
        color: var(--light-blue);
        cursor: pointer;
        text-decoration: underline;
    }

    [data-close-popover] {
        position: absolute;
        top: 2%;
        right: 2%;

        border: 1px solid;
        border-radius: var(--border-roundness);
        padding: 5px;
    }

    input {
        padding: 5px;
        border-radius: var(--border-roundness);
        border-width: 1px;
    }

    form button {
        padding: 5px;
    }

    select {
        border-style: solid;
        border-radius: var(--border-roundness);
    }

    button,
    input[type="submit"] {
        border: 1px solid var(--input-border-color);
        border-radius: var(--border-roundness);
        color: var(--text-color);
        cursor: pointer;
    }

    button:hover {
        background: color-mix(in oklab, currentColor 30%, var(--input-background) 70%);
    }

    input[type="checkbox"] {
        appearance: none;
        border-style: solid;
        vertical-align: bottom;
        border-radius: var(--border-roundness);
    }

    input[type="checkbox"]:checked {
        border-color: oklch(from var(--green) 50% c h);
        background: var(--green);
    }

    dialog {
        color: var(--text-color);

        background: var(--main);
        border: 1px solid;
        padding: 5cap 5ch;

        * {
            font-size: inherit;
        }
    }

    dialog::backdrop {
        background-color: #00000077;
        backdrop-filter: blur(1px);
        user-select: none;
        pointer-events: none;
    }

    mark {
        background-color: var(--yellow);
        color: var(--main);
    }

    :is(input, select):required:invalid {
        border-color: var(--error);
    }
}

@layer utility {
    .floating {
        position: absolute;
        background-color: var(--main);
        z-index: 100;
    }

    .center {
        text-align: center;
    }

    .question {
        text-decoration-style: dashed;
        cursor: help;
    }

    .no-select {
        user-select: none;
    }

    .margin-center {
        margin: 0 auto;
    }

    .styleless-button {
        background: unset;
        border: unset;
        font: inherit;
        padding: unset;

        &:focus {
            outline: none;
            border: 3px solid var(--green);
        }
    }

    .styleless-button::before,
    .styleless-button::after {
        text-decoration: none;
    }

    .bad {
        --accent-color: var(--pink);
        color: var(--accent-color);
    }

    .good {
        --accent-color: var(--green);
        color: var(--accent-color);
    }

    .relative {
        position: relative
    }

    .flex-column {
        display: inline-flex;
        flex-direction: column;
    }

    .flex {
        display: flex;
    }

    .flex.column {
        flex-direction: column;
    }

    .flex.row {
        flex-direction: row;
    }

    .flex.wrap {
        flex-wrap: wrap;
    }


    .flex.grow {
        flex-grow: 1;
    }

    .grid {
        display: grid;
    }

    .grid.row {
        grid-auto-flow: row;
    }

    .grid.column {
        grid-auto-flow: column;
    }

    .flex-row {
        display: inline-flex;
    }

    .flex-wrap {
        flex-wrap: wrap
    }

    .block {
        display: block;
    }

    .none {
        display: none;
    }

    .overflow {
        overflow: auto auto;
    }

    .float.left {
        float: left;
    }

    .float.right {
        float: right;
    }

    .j-self-left {
        justify-self: left;
    }

    .j-self-right {
        justify-self: right;
    }

    .j-space-between {
        justify-content: space-between;
    }

    .j-center {
        justify-content: center;
    }

    .j-space-evenly {
        justify-content: space-evenly;
    }

    .center {
        text-align: center;
    }

    .m-0 {
        margin: 0;
    }

    .p-0 {
        padding: 0;
    }

    .m-5 {
        margin: 5px;
    }

    .spoiler {
        color: var(--red);
        background: var(--red);

        cursor: pointer;
    }

    .spoiler:active {
        background: transparent;
        color: var(--text-color);
    }
}
